---
import InformationPage from '@/layouts/InformationPage.astro'
import InstagramLink from '@/components/informationPage/InstagramLink.astro'
import TiktokLink from '@/components/informationPage/TiktokLink.astro'

---

<InformationPage
  titlePage="CHIQUIS DONIS | Emprendimientos Estudiantiles | UG Devs"
  descriptionPage=" Descubre un mundo de sabor en miniatura con nuestras irresistibles Chiquisdonas: Pequeñas Delicias, Grandes Sonrisas."
  currentUrl="emprendimientos/chiquisdonis"
  nameInfo="CHIQUIS DONIS"
  image_path="/entrepreneurship/chiquisdonis.webp"
  categorys={['Repostería', 'Pastelería']}>
  <p class="text-black-medium max-w-xl" slot="description">
    ChiquisDonis es una joya gastronómica en el mundo de las donas. Nos especializamos en la
    creación de mini donas, cariñosamente llamadas ChiquisDonis, que son pequeñas delicias de sabor
    que se pueden disfrutar en cada bocado. Estamos dedicados a ofrecer productos de alta calidad y
    un servicio excepcional. Nuestras ChiquisDonis son perfectas para quienes buscan un toque de
    dulzura en tamaño pequeño, ideales para eventos especiales, meriendas o simplemente un regalo
    sabroso para ti mismo. Cada una de nuestras ChiquisDonis está hecha con pasión y se entrega con
    cariño. ¡Permítenos endulzar tu día con nuestras pequeñas maravillas!
  </p>
  <div class="flex flex-wrap justify-start items-center gap-4" slot="social">
    <InstagramLink url="https://instagram.com/chiquisdonis_an?igshid=MWZjMTM2ODFkZg==" />
    <TiktokLink url="https://www.tiktok.com/@chiquisdonis?_t=8gS9ObSSQmz&_r=1"/>
   
  </div>
</InformationPage>
