---
import Base from '@/layouts/Base.astro'
---

<Base
  currentUrl="terminos-condiciones"
  titlePage="Términos y Condiciones | UG Devs"
  descriptionPage="Términos y condiciones de uso en UG Devs">
  <section class="section-container py-14">
    <article class="max-w-3xl mx-auto leading-8">
      <h1 class="text-left font-extrabold text-black-dark text-3xl">Términos y Condiciones</h1>
      <p class="max-w-2xl mt-6 text-black-medium">
        Nuestro sitio web es una plataforma dedicada a la promoción de herramientas y
        emprendimientos estudiantiles, así como a la colaboración de contribuidores voluntarios. No
        recopilamos ni solicitamos información personal de nuestros usuarios en este momento.
        Nuestro compromiso es proporcionar un espacio donde los estudiantes puedan acceder a
        herramientas útiles, explorar proyectos emprendedores y conectar con otros miembros de la
        comunidad universitaria. Valoramos la privacidad y la seguridad de nuestros usuarios y
        contribuidores. Si en el futuro decidimos recopilar información personal, implementaremos
        políticas de privacidad y seguridad sólidas y transparentes para proteger sus datos.
      </p>
      <h2 class="text-left mt-10 font-semibold text-black-dark text-2xl">
        1. Sobre las Herramientas
      </h2>
      <p class="max-w-2xl mt-6 text-black-medium">
        Las herramientas publicadas son propiedad de sus respectivos autores, los cuales han
        decidido que se agregue o promocione en este sitio web.
      </p>
      <h2 class="text-left mt-10 font-semibold text-black-dark text-2xl">
        2. Sobre los Emprendimientos
      </h2>
      <p class="max-w-2xl mt-6 text-black-medium">
        Todo emprendimiento o negocio que se promocione en este sitio web es propiedad de sus
        respectivos dueños. Estos han solicitado o aceptado que se publique su información
        (Logotipo, nombre, categorías, descripción). Este sitio web no se hace responsable de la
        información proporcionada.
      </p>
      <h2 class="text-left mt-10 font-semibold text-black-dark text-2xl">
        3. Sobre los contribuidores
      </h2>
      <p class="max-w-2xl mt-6 text-black-medium">
        Los contribuidores son personas de la comunidad estudiantil de la Universidad de Guayaquil
        que han decidido de forma voluntaria apoyar el proyecto como se indica en la sección <a
          class="text-primary underline underline-offset-2"
          href="/nosotros#contribuidor"
          target="_blank">Conviértete en Contribuidor</a
        >. Estas personas han proporcionado su información personal la cuál es publicada en el sitio
        (Nombre, Apellido, Foto de perfil, Red social). El sitio web no se hace responsable de la
        información proporcionada por los contribuidores. Por otro lado, Los contribuidores que han
        aportado con alguna donación constarán en la lista de contribuidores durante un año a partir
        del día de donación luego de eso se eliminará su información o tendrá la oportunidad de
        renovar su aportación. Los contribuidores pueden retirar su información del sitio web en
        cualquier momento si así lo solicitan.
      </p>
    </article>
  </section>
</Base>
