<section class="section-container py-10">
  <article
    class="flex flex-col justify-center items-center max-w-max mx-auto gap-4 bg-primary/10 p-4 border border-primary rounded-md sm:flex-row sm:px-8 sm:gap-x-10">
    <img
      class="w-full max-w-[6.25rem] sm:max-w-[7.813rem]"
      src="/organizations/logo-audetec.webp"
      alt="logo de audetec, organizaci칩n estudiantil de la universidad guayaquil"
    />
    <div>
      <h2 class="text-black-medium max-w-2xl mb-4 text-sm">
        Encuentra cursos y talleres en colaboraci칩n con reconocidas marcas tecnol칩gicas, dise침ados
        para potenciar tus habilidades y conocimientos.
      </h2>
      <a
        class="flex justify-center items-center gap-x-1 mt-4 py-2 px-4 max-w-max text-sm bg-primary text-white rounded-md transition-colors duration-100 hover:bg-primary-dark"
        href="/organizaciones/audetec">
        Ver Cursos
        <svg
          class="w-4 h-4 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
          ><path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
    </div>
  </article>
</section>
