---
const CONTRIBUTORS_LIST = [
  {
    name: 'Edwin Zavala',
    avatar: '/contributors/edwin-zavala.webp',
    url: 'https://www.instagram.com/protech_ec/'
  },
  {
    name: 'George Villao',
    avatar: '/contributors/george-villao.webp',
    url: 'https://www.tiktok.com/@geovilbal95?_t=8ffiJJrINQz&_r=1'
  },
  {
    name: 'Edison Rodríguez',
    avatar: '/contributors/edison-rodriguez.webp',
    url: 'https://instagram.com/edisonrodri?igshid=MzMyNGUyNmU2YQ=='
  },
  {
    name: 'Samuel Rivadeneira',
    avatar: '/contributors/samuel-rivadeneira.webp',
    url: 'https://www.linkedin.com/in/samuel-rivadeneira-3478341a7/'
  }
]
---

<section class="bg-gray-100">
  <div class="section-container py-14">
    <h2 class="text-center text-black-dark font-semibold text-xl sm:text-2xl">CONTRIBUIDORES</h2>
    <div class="mt-10 flex flex-wrap items-center justify-center gap-8 max-w-4xl mx-auto lg:mt-10">
      {
        CONTRIBUTORS_LIST.map(contributor => (
          <a
            class="flex justify-center items-center gap-2 px-6 py-3 max-w-max text-black-medium font-medium bg-white border border-gray-100 rounded-sm shadow-md transition-transform duration-100 select-none hover:cursor-pointer hover:scale-95"
            href={contributor.url}
            target="_blank"
            rel="noopener noreferrer">
            <img
              class="flex-none w-20 h-20 rounded-full object-cover"
              src={contributor.avatar}
              alt={contributor.name}
            />
            <p>{contributor.name} </p>
          </a>
        ))
      }
    </div>
    <a
      class="block mt-10 text-center font-light underline underline-offset-2 text-primary transition-colors duration-100 hover:text-primary-dark"
      href="/nosotros#contribuidor">
      Convertirme en contribuidor
    </a>
  </div>
</section>
