---
import { ENTREPRENEURSHIP } from '@/data/entrepreneurship.js'
import EntrepreneurshipCard from '@/components/EntrepreneurshipCard.astro'
---

<div class="section-container py-14">
  <h2 class="text-black-light text-balance font-medium text-center">
    DESCUBRE LOS EMPRENDIMIENTOS ESTUDIANTILES
  </h2>
  <section class="mt-8 flex flex-wrap items-center justify-center gap-12 lg:mt-10">
    {
      ENTREPRENEURSHIP.map(e => (
        <EntrepreneurshipCard
          name={e.name}
          categorys={e.categorys}
          image_path={e.image_path}
          url={e.url}
        />
      ))
    }
  </section>
  <div class="flex justify-end mt-6 mr-8">
    <a
      href="/emprendimientos"
      class="inline-flex items-center font-medium text-black-light hover:underline hover:underline-offset-2">
      Explorar más
      <svg
        class="w-4 h-4 ml-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
        ><path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</div>
