<section class="min-h-[calc(100vh-77px)] flex items-center justify-center">
  <div
    class="-z-10 absolute inset-0 max-w-lg m-auto h-[27rem] sm:h-64 sm:max-w-7xl"
    style="background:linear-gradient(106.89deg, rgba(192, 132, 252, 0.11) 15.73%, rgba(14, 165, 233, 0.24) 15.74%, rgba(121, 249, 242, 0.26) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);filter:blur(118px)">
  </div>
  <article class="section-container mb-14">
    <h1
      class="font-medium text-black-dark text-2xl text-center text-balance leading-snug tracking-tight md:leading-snug md:text-5xl">
      Colección de
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-primary to-primary-dark">
        Herramientas Creadas por Estudiantes
      </span>
       de la Universidad de Guayaquil
    </h1>
    <p class="text-center mt-6 text-lg tracking-tight text-black-medium text-balance">
      Más de 10.000 estudiantes se han beneficiado de estas herramientas
    </p>
  </article>
</section>
