<section class="min-h-[calc(100vh-77px)] flex flex-col items-center justify-center">
  <div
    class="-z-10 absolute inset-0 max-w-lg m-auto h-[27rem] sm:h-64 sm:max-w-7xl"
    style="background:linear-gradient(106.89deg, rgba(192, 132, 252, 0.11) 15.73%, rgba(14, 165, 233, 0.24) 15.74%, rgba(121, 249, 242, 0.26) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);filter:blur(118px)">
  </div>
  <article class="section-container mb-14">
    <h1
      class="font-medium text-black-dark text-2xl text-center text-balance leading-snug tracking-tight md:leading-snug md:text-5xl animate-fade-up animate-once animate-duration-1000">
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-primary to-primary-dark">
        Herramientas Esenciales para Estudiantes
      </span>
       de la Universidad de Guayaquil
    </h1>
    <p class="text-center mt-6 text-lg tracking-tight text-black-medium text-balance">
      Simulador de calificaciones, reseñas de profesores hasta emprendimientos y mucho más...
    </p>
  </article>
  <div class="grid grid-rows-2 md:grid-cols-2 md:grid-rows-none gap-8">
    <a
      href="https://github.com/anthonysanlucas/ugdevs"
      target="_blank"
      class="inline-flex justify-center items-center gap-x-4 py-1 px-5 text-sm font-medium text-center text-black-dark rounded-md border border-slate-300 transition-colors duration-100 shadow-slate-300/40 hover:bg-slate-300">
      <svg
        class="w-8 transition-transform duration-100"
        width="45"
        height="45"
        viewBox="0 0 45 45"
        fill="none">
        <g clip-path="url(#clip0_12_66)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M22.433 0C10.0281 0 0 10.102 0 22.5996C0 32.5896 6.42536 41.046 15.339 44.0389C16.4535 44.2639 16.8617 43.5527 16.8617 42.9543C16.8617 42.4304 16.8249 40.6345 16.8249 38.7634C10.5846 40.1106 9.28515 36.0693 9.28515 36.0693C8.2823 33.4502 6.79638 32.777 6.79638 32.777C4.75393 31.3925 6.94515 31.3925 6.94515 31.3925C9.21077 31.5422 10.3996 33.7123 10.3996 33.7123C12.4048 37.1544 15.6361 36.1818 16.9361 35.5831C17.1216 34.1238 17.7162 33.1136 18.3476 32.5524C13.3705 32.0285 8.13398 30.083 8.13398 21.4021C8.13398 18.9326 9.0248 16.9122 10.4363 15.3409C10.2136 14.7797 9.43347 12.4595 10.6595 9.35403C10.6595 9.35403 12.5536 8.75526 16.8245 11.6738C18.653 11.1791 20.5387 10.9275 22.433 10.9254C24.3271 10.9254 26.258 11.1876 28.041 11.6738C32.3123 8.75526 34.2064 9.35403 34.2064 9.35403C35.4325 12.4595 34.6518 14.7797 34.4291 15.3409C35.8779 16.9122 36.7319 18.9326 36.7319 21.4021C36.7319 30.083 31.4954 31.9909 26.4811 32.5524C27.2985 33.2633 28.0038 34.61 28.0038 36.743C28.0038 39.7736 27.967 42.2059 27.967 42.9539C27.967 43.5527 28.3757 44.2639 29.4897 44.0394C38.4034 41.0455 44.8287 32.5896 44.8287 22.5996C44.8655 10.102 34.8006 0 22.433 0Z"
            fill="#24292F"></path>
        </g>
        <defs>
          <clipPath id="clip0_12_66">
            <rect width="45" height="44.0816" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
       Star on GitHub
    </a>
    <a
      href="/nosotros#contribuidor"
      class="inline-flex justify-center items-center gap-x-4 py-1 px-5 text-sm font-medium text-center text-white rounded-md bg-gradient-to-r from-primary to-primary-dark shadow-sm shadow-primary-dark/40 transition-colors duration-100 hover:from-primary-dark hover:to-primary hover:shadow-md">
      Convertirse en contribuidor
      <svg class="w-4 h-4" aria-hidden="true" fill="none" viewBox="0 0 14 10"
        ><path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</section>
