<section>
  <div
    class="section-container py-16 flex flex-col-reverse justify-center items-center gap-y-8 gap-x-10 lg:flex-row">
    <article class="fade-right animate-once animate-duration-1000 opacity-0">
      <h2 class="text-black-dark font-semibold text-xl sm:text-2xl">Simulador de Calificaciones</h2>
      <p class="mt-6 text-black-medium max-w-xl">
        Calcula tu promedio parcial, calificación de final de semestre o averigua cuánto debes
        obtener en el examen de recuperación para aprobar.
      </p>
      <a
        class="inline-block mt-8 px-10 py-3 bg-primary text-white font-medium bg-gradient-to-r from-primary to-primary-dark rounded-md shadow-sm shadow-primary-dark/40 transition-all duration-100 hover:from-primary-dark hover:to-primary hover:shadow-md hover:shadow-primary-dark/40"
        href="/calculadoraug/promedio-parcial">
        USAR AHORA
      </a>
    </article>
    <img
      class="w-full h-auto max-w-xl rounded-md fade-left animate-once animate-duration-1000 opacity-0"
      src="/tools-gifs/calculadoraug.gif"
    />
  </div>
</section>
<div
  class="section-container py-16 flex flex-col-reverse justify-center items-center gap-y-8 gap-x-10 lg:flex-row-reverse">
  <article class="fade-left animate-once animate-duration-1000 opacity-0">
    <h2 class="text-black-dark font-semibold text-xl sm:text-2xl">Reseñas de Profesores</h2>
    <p class="mt-6 text-black-medium max-w-xl">
      Comparte tus opiniones y reseñas sobre tus profesores de una manera fácil y efectiva.
    </p>
    <a
      class="inline-block mt-8 px-10 py-3 bg-primary text-white font-medium bg-gradient-to-r from-primary to-primary-dark rounded-md shadow-sm shadow-primary-dark/40 transition-all duration-100 hover:from-primary-dark hover:to-primary hover:shadow-md hover:shadow-primary-dark/40"
      href="/profesores">
      USAR AHORA
    </a>
  </article>
  <img
    class="w-full h-auto max-w-xl rounded-md fade-right animate-once animate-duration-1000 opacity-0"
    src="/tools-gifs/profesores.gif"
  />
</div>
<div
  class="section-container py-16 flex flex-col-reverse justify-center items-center gap-y-8 gap-x-10 lg:flex-row">
  <article class="fade-right animate-once animate-duration-1000 opacity-0">
    <h2 class="text-black-dark font-semibold text-xl sm:text-2xl">Notas en el navegador</h2>
    <p class="mt-6 text-black-medium max-w-xl">
      Aumenta tu productividad creando notas fácilmente en tu navegador favorito y volviendo a ellas
      siempre que lo necesites, ideal para clases virtuales.
    </p>
    <a
      class="inline-block mt-8 px-10 py-3 bg-primary text-white font-medium bg-gradient-to-r from-primary to-primary-dark rounded-md shadow-sm shadow-primary-dark/40 transition-all duration-100 hover:from-primary-dark hover:to-primary hover:shadow-md hover:shadow-primary-dark/40"
      href="https://pinnednotes.netlify.app/"
      target="_blank">
      USAR AHORA
    </a>
  </article>
  <img
    class="w-full h-auto max-w-xl rounded-md fade-left animate-once animate-duration-1000 opacity-0"
    src="/tools-gifs/notas.gif"
  />
</div>
