---
import { CONTRIBUTORS_LIST } from '@/data/contributors.js'

interface Props {
  isCentered?: boolean
}

const { isCentered = false } = Astro.props
---

<section
  class:list={[
    'flex flex-wrap justify-start items-center mt-10 gap-4',
    { 'justify-center': isCentered }
  ]}>
  {
    CONTRIBUTORS_LIST.map(contributor => (
      <a
        class="inline-block w-16 h-16 rounded-full overflow-hidden border-2 border-gray-200 transition-transform duration-100 hover:scale-95"
        href={contributor.url}
        target="_blank"
        rel="noopener noreferrer">
        <img class="w-full h-full object-cover" src={contributor.avatar} alt={contributor.name} />
      </a>
    ))
  }
</section>
