<footer class="section-container pt-14 pb-4">
  <div class="flex flex-col justify-between gap-10 md:flex-row">
    <article>
      <h3 class="mb-4 text-sm font-medium text-primary-dark">ENLACES</h3>
      <nav>
        <ul class="flex flex-col gap-y-2">
          <li>
            <a
              class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
              href="https://servicioenlinea.ug.edu.ec/SIUG/"
              target="_blank">
              SIUG
            </a>
          </li>
          <li>
            <a
              class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
              href="https://www.ug.edu.ec/"
              target="_blank">
              Universidad de Guayaquil
            </a>
          </li>
          <li>
            <a
              class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
              href="https://campusvirtual.ug.edu.ec/"
              target="_blank">
              Campus Virtual
            </a>
          </li>
        </ul>
      </nav>
    </article>
    <section class="flex flex-col sm:flex-row gap-10">
      <article>
        <h3 class="mb-4 text-sm font-medium text-primary-dark">HERRAMIENTAS</h3>
        <nav>
          <ul class="flex flex-col gap-y-2">
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="/calculadoraug/promedio-parcial">
                Simulador de Calificaciones
              </a>
            </li>
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="/profesores">
                Reseñas de Profesores
              </a>
            </li>
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="https://pinnednotes.netlify.app/"
                target="_blank">
                Notas en el Navegador
              </a>
            </li>
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="/emprendimientos">
                Emprendimientos Estudiantiles
              </a>
            </li>
          </ul>
        </nav>
      </article>
      <article>
        <h3 class="mb-4 text-sm font-medium text-primary-dark">ACERCA DE</h3>
        <nav>
          <ul class="flex flex-col gap-y-2">
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="/nosotros">
                Sobre UGDevs
              </a>
            </li>
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="/nosotros#contribuidor">
                Convertirse en contribuidor
              </a>
            </li>
            <li>
              <a
                class="py-2 text-black-medium transition-colors duration-100 hover:text-primary-dark"
                href="/nosotros#contribuidor">
                Contacto
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </section>
  </div>
  <div class="flex justify-between flex-wrap gap-x-4 mt-14 text-xs">
    <div class="space-x-4">
      <span>© 2023 UG Devs.</span>
      <a href="/terminos-condiciones">Términos y Condiciones</a>
    </div>

    <span>
      <a
        href="https://anthonysanlucas.ugdevs.org/"
        class="text-sm font-medium text-black-light transition-colors duration-200 hover:text-primary"
        target="_blank"
        rel="noopener noreferrer">
        Desarrollado por
        <span class="text-primary font-medium text-xl">.-</span>
      </a>
    </span>
  </div>
</footer>
