---
import UgdevsLogo from '@/components/Ugdevs-logo.astro'
---

<header class="flex items-center justify-between section-container py-4">
  <UgdevsLogo />
  <nav class="flex justify-end items-center">
    <a
      class="font-medium transition-colors duration-100 select-none hover:text-primary"
      href="/nosotros">
      Acerca de
    </a>
  </nav>
</header>
