<button
  class="form__submit cursor-pointer bg-primary text-white mx-auto h-9 w-full max-w-[13rem] shadow shadow-primary/40 border border-solid border-transparent rounded-md outline-none transition-colors duration-100 hover:bg-primary-dark"
  type="submit">
  Calcular
</button>
